################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeechToTextApp/AppPackages
/SpeechToTextApp/bin/x86
/.vs
